
$default-color: #0099ff;
$hover-color: #0077cc;
$disabled-color: #b3b3b3;
$green-color: #009900;
$gray-mid-dip: #b3b3b3;
$light-gray: #e3e3e3;
$orange-color: #ff9900;
$red-color: #ff3333;

$white-color : #ffffff;

$black-font-color: #333333;

$space-30: 30px;

$breakpoint-smartphone-iPhone4: 360px;
$breakpoint-smartphone: 480px;
$breakpoint-samsung-sfour: 640px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-tablet-landscape-990: 990px;
$breakpoint-desktop: 1200px;

